<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-muted bg-muted justify-content-center">
        <ul class="nav ">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events">events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourteam">Our team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Participant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/organizer">Organizer</a>
          </li>
        </ul>
      </nav>
    <div id="particles-js">
        <img src="../images/eventoria-logo.png">
    
    </div>
</header>
<br>
<br>
<body>
    <div class="hero-text" id="events">
        <h1>about eventoria</h1>
        <p>An Event Management System with the aim to Unify Events, Users and Organizers.</p>
    </div>
    <!-- <hr> -->
<!-- 1-card -->
    <div id="container">
        <div class="product-details" >
            <h1>PY IT</h1>
            <p class="information" style="text-align: justify;">PY-IT (Practice Your Interview Techniques) is a virtual job hiring event which will not only give you an experience for your real time job recruitment process but also give you a life changing experience. This event will test your aptitude skills, interpersonal skills and soft skills.
            <div class="control">
                <button class="btn">
                    <!-- <span class="price">$250</span> -->
                    <!-- <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> -->
                    <span class="buy">Register Now</span>
                </button>
            </div>
        </div>

        <div class="product-image">
            <img src="../images/pyit.jpeg" alt="error">
            <div class="info">
                <h2> RULES</h2>
                <ul>
                    <li><strong>Team Size: </strong>Individual</li>
                    <li><strong>Awards & Prizes:</strong>Top 3 participants of Round 3 will be awarded prizes</li>
                    <li><strong>result: </strong>top 20 participants of Round 1 will be awarded participants certificates.</li>
                    <li><strong>Material:</strong>Eco-Friendly</li>
                    <li><strong>Round 1: </strong> Aptitude Round : Online test of General Aptitude, Logical & Verbal Reasoning, Current affairs and General Knowledge.</li>
                    <li><strong>Total Questions:</strong>30, Time : 45 Minutes</li>
                </ul>
            </div>
        </div>
    </div>


<!-- 2-card -->
<div id="container">
    <div class="product-details" id="eventid">
        <h1>WYSIWYG</h1>
        <p class="information">WYSIWYG [What You See Is What You Get ] is the event in which the students create web pages using any of their preferable platforms such as HTML, CSS, Bootstrap etc.</p>
        <div class="control">
            <button class="btn">
                <span class="buy">Register Now</span>
            </button>
        </div>
    </div>

    <div class="product-image">
        <img src="../images/wysiwyg.jpeg" alt="error">
        <div class="info">
            <h2> RULES</h2>
            <ul>
                <li><strong></strong>2 participants per team.</li>
                <li><strong></strong>On the spot Theme will be provided.</li>
                <li><strong></strong>Time Limit: 2 hours.</li>
                <li><strong></strong>Participants will have to build home page and 2-3 subpages on it.</li>
                <li><strong></strong>Design a website using any tool (WordPress, HTML & CSS, Visual Studio IDE etc.)</li>
                <li><strong></strong>Ready-made online templates will not be entertained.</li>
                <li><strong></strong>Bring the setup of tool / technology by your own if required. (Except Dreamweaver, Visual Studio IDE)
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- 3-card -->
<div id="container">
    <div class="product-details">
        <h1>ImageIT</h1>
        <br>
        <p class="information">In ImageIT you can perform in any of digital poster making or handmade poster making. A participatory group has to prepare a poster for the theme (given at the time of event) using any software or on ...</p>
        <div class="control">
            <button class="btn">
                <span class="buy">Register Now</span>
            </button>
        </div>
    </div>

    <div class="product-image">
        <img src="../images/imageit.jpeg" alt="error">
        <div class="info">
            <h2> RULES</h2>
            <ul>
                <li><strong></strong>2 participants per team</li>
                <li><strong></strong>2 hours event</li>
                <li><strong></strong>No on the spot entry!</li>
                <li><strong></strong>Department will provide drawing sheets. participants have to bring the other tools (Pencil, eraser, colours, etc.)</li>
                <li><strong></strong>readymade materials, cut outs and print outs are not allowed</li>
                <li><strong></strong>Doodling is not allowed.</li>
            </ul>
        </div>
    </div>
</div>





<!-- 4-card -->
<div id="container">
    <div class="product-details">
        <h1>C QUIZ</h1>
        <p class="information">C Quiz is kind of MCQ based quiz in which questions related to Information technology and computer fundamentals will be included.</p>
        <div class="control">
            <button class="btn">
                <span class="buy">Register Now</span>
            </button>
        </div>
    </div>

    <div class="product-image">
        <img src="../images/cquiz.jpeg" alt="error">
        <div class="info">
            <h2> RULES</h2>
            <ul>
                <li><strong></strong>The Event is for individual students</li>
                <li><strong></strong>Only for students of BE 1st year ( All branches)</li>
                <li><strong></strong>Quiz will be based on Questions related to basic C languages</li>
                <li><strong></strong>There will be only single round</li>
                <li><strong></strong>Total 40 Questions</li>
                <li><strong></strong>Time Limit: 30 Minutes</li>
                <li><strong></strong>Correct Answer : 1 mark & Incorrect Answer : -0.25 mark</li>
                <li><strong></strong>Top 3 participants will be awarded prizes and Top 10% participants will be awarded participants certificates</li>
            </ul>
        </div>
    </div>
</div>



<!-- 5-card -->
<div id="container">
    <div class="product-details">
        <h1>CODATHON</h1>
        <p class="information">CODATHON is a coding event in which you will be given questions and that you need to solve applying your logic and coding skills. The event revolves around your coding skills, decision making capability, concepts and your logic cracking capability.</p>
        <div class="control">
            <button class="btn">
                <span class="buy">Register Now</span>
            </button>
        </div>
    </div>

    <div class="product-image">
        <img src="../images/codathon.jpg" alt="error">
        <div class="info">
            <h2> RULES</h2>
            <ul>
                <li><strong></strong>CODATHON will be of 1 hour.</li>
                <li><strong></strong>Participation is in pair of two.</li>
                <li><strong></strong>In first 30 minutes any one of them will be allowed to code and the time left will be for another one to code.</li>
                <li><strong></strong>Languages eligible are C, C++ and JAVA.</li>
                <li><strong></strong>valuation will be based on time complexity, space complexity and the fastest pair to solve them.</li>
                <li><strong></strong>All the participants will be provided certificates after the completion of converse 2k21 and winners along with prizes.</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="hero-text">
    <h4>THANK YOU FOR USING EVENTORIA, SEE YOU AT THE EVENT...</h4>
    <p class="box1">*Participation certificates will be provided</p>
    <!-- <h3 class="box2">event is open for all, anyone can participate. It is the inter college Techfest.</h3> -->
  
</div>
<br>
<br>
<br>
<!-- <hr> -->
<br>
<br>


<!-- footer -->
<footer id="dk-footer" class="dk-footer">
    <div class="container" id="ourteam">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="dk-footer-box-info">
                    <a href="../" class="footer-logo">
                        <img src="../images/eventoria-logo.png" alt="footer_logo" class="img-fluid">
                    </a>

                    <div class="footer-social-link">
                        <h3>Follow us</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social link -->
                </div>
                <!-- End Footer info -->
            </div>
            <!-- End Col -->
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-icon">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>India</h3>
                                <p>surat</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            </div>
                            <!-- End contact Icon -->
                            <div class="contact-info">
                                <h3>SECT</h3>
                                <p>Athwagate,surat 395008</p>
                            </div>
                            <!-- End Contact Info -->
                        </div>
                        <!-- End Contact Us -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Contact Row -->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="footer-widget footer-left-widget">
                            <div class="section-heading">
                                <span class="animate-border border-black"></span>
                            </div>
                            <ul>
                                <p>Menu</p>
                                <li>
                                    <a href="#ourteam">About us</a>
                                </li>
                                <li>
                                    <a href="#">Verify certificate</a>
                                </li>
                                <li>
                                    <a href="#events">events</a>
                                </li>
                                <li>
                                    <a href="/user">Participant</a>
                                </li>
                                <li>
                                    <a href="/organizer">Organizer</a>
                                </li>
                            </ul>
                            <ul>
                                <p>DEVELOPERS</p>
                                <li>
                                    <a href="https://github.com/Aashrut" target="_blank">Aashrut Vaghani</a>
                                </li>
                                <li>
                                    <a href="https://github.com/anujvaghani0" target="_blank">Anuj Vaghani</a>
                                </li>
                                <li>
                                    <a href="https://github.com/Dharma-09" target="_blank">Dharmik Gangani</a>
                                </li>
                                <li>
                                    <a href="#">Jay Ranpariya</a>
                                </li>
                                <li>
                                    <a href="#">Yash Pandya</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Widget -->
                    </div>
                    <!-- End col -->
                  
            
                          
                            <!-- End form -->
                        </div>
                        <!-- End footer widget -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span>Copyright © 2022 , All Right Reserved eventoria Team   </span>
                </div>
                <!-- End Col -->
             
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
    <!-- Back to top -->
 
    </div>
    <!-- End Back to top -->
</footer>
</body>
    <script src="../js/Particles.js"></script>
    <script src="../js/index.js"></script>
</html>